{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
      	<div class="large-8 columns">
      		<div class="row">
      			<div class="large-12 columns">
	      			<div class="panel">
	      				<div data-alert class="alert-box radius">
	  						Il y a seulement <strong>59 places</strong> disponibles !<br />
	  						Date limite des inscriptions : <strong>31 janvier 2014</strong>
	  					<a href="#" class="close">&times;</a>
						</div>
				        <h3>Tignes en quelques mots</h3>
				        <p>Décalée, cosmopolite, sportive et innovante, Tignes vous offre l'expérience unique de vivre la montagne autrement. Pour les amateurs de sports d‘hiver, Tignes est avant tout une station de ski de renommée internationale qui propose de septembre à mai la meilleure neige et une offre de pistes très diverse.</p>
				        <p>Le domaine skiable "Espace Killy" Tignes / Val d'Isère se compose de 300 km de pistes de difficultés variables qui s'étendent entre 1 550 m et 3 450 m d'altitude.</p>
				        <p>En plus de ces pistes, poussez vos spatules un peu plus loin profitez également de 6 stades de slalom, 1 stade de bosses, 2 snowpark, 1 gliss'park.</p>
				        <p>Tignes accueille tout l'hiver des événements originaux, où les performances sportives se mêlent au goût de l'audace à l'image des Winter X Games Europe, l'événement incontournable du ski et du snowboard freestyle !</p>
				        <p class="text-center"><a href="http://www.tignes.net" class="button small">En savoir plus sur le site officiel</a></p>
				        <h3>Quelques photos</h3>
						<ul class="clearing-thumbs" data-clearing>
							<li><a href="{{ asset('img/slides/1.jpg') }}" class="th"><img src="{{ asset('img/slides/1-th.jpg') }}"></a></li>
							<li><a href="{{ asset('img/slides/2.jpg') }}" class="th"><img src="{{ asset('img/slides/2-th.jpg') }}"></a></li>
							<li><a href="{{ asset('img/slides/3.jpg') }}" class="th"><img src="{{ asset('img/slides/3-th.jpg') }}"></a></li>
							<li><a href="{{ asset('img/slides/4.jpg') }}" class="th"><img src="{{ asset('img/slides/4-th.jpg') }}"></a></li>
							<li><a href="{{ asset('img/slides/5.jpg') }}" class="th"><img src="{{ asset('img/slides/5-th.jpg') }}"></a></li>
							<li><a href="{{ asset('img/slides/6.jpg') }}" class="th"><img src="{{ asset('img/slides/6-th.jpg') }}"></a></li>
							<li><a href="{{ asset('img/slides/7.jpg') }}" class="th"><img src="{{ asset('img/slides/7-th.jpg') }}"></a></li>
							<li><a href="{{ asset('img/slides/8.jpg') }}" class="th"><img src="{{ asset('img/slides/8-th.jpg') }}"></a></li>
						</ul>
			      	</div>
		      	</div>
		    </div>

			<div class="row">
				<div class="large-12 columns">
					<div class="callout panel bg-rheaven">
						<h3>Les avantages négociés par R-Heaven</h3>

						<p>Comme à chaque événement qu'il organise, ton BDE te gâte ! Pour cette semaine de folie :</p>
						<ul class="circle">
							<li>De nombreuses réductions dans les bars, restaurants et supérettes.</li>
							<li>Entrées gratuites toute la semaine dans les discothèques de Tigne.</li>
							<li>Location d'un Airbag et d'un Boardercross avec des lots à gagner !</li>
							<li>Accès à la piscine du Lagon et à la patinoire (patins à glace offerts) avec l'extension de forfait ski <a href="http://www.espacekilly.com">Espace Killy</a>.</li>
							<li>... et d'autres activités surprises pendant la semaine !</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	    <div class="large-4 columns">
	    	<div class="row">
	    		<div class="large-12 columns">
					<ul class="pricing-table">
						<li class="title">Un voyage inoubliable</li>
						<li class="price">520€</li>
						<li class="bullet-item">Hébergement en résidence 3 étoiles <em>Pierre et Vacances</em> au pied des pistes avec terrasse exposé plein Sud</li>
						<li class="bullet-item">Forfait Tignes STGM</li>
						<li class="bullet-item">A/R Paris-Tignes en car</li>
						<li class="bullet-item">Matériel de ski gamme "sport"</li>
						<li class="bullet-item">De nombreuses activités</li>
						<li class="description"><a href="#" data-reveal-id="optionsSup">Voir les options supplémentaires</a></li>
						<li class="cta-button"><a class="button" href="{{ path('fos_user_registration_register') }}">Réserver maintenant !</a></li>
						<li class="cta-button"><a href="{{ path('fos_user_security_login') }}" class="button small success">Suivre mon dossier</a></li>
					</ul>
				</div>
			</div>

		    <div class="row">
		    	<div class="large-12 columns">
					<div class="panel">
						<div class="flex-video">
	        				<iframe width="280" height="158" src="//www.youtube.com/embed/V7bdF5W6Odg?rel=0" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<h3>Des questions ?</h3>
						<p>Passe nous voir au local quand tu veux, on en discute !<br />Ou alors contacte l'équipe organisatrice à <a href="mailto:voyage@r-heaven.fr">voyage@r-heaven.fr</a> ;)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="optionsSup" class="reveal-modal" data-reveal>
		<h2>Les options supplémentaires</h2>
		<p>Vous pouvez rajouter plusieurs options pour rendre votre voyage encore plus inoubliable !</p>
		<p class="lead">Matériel</p>
		<table>
		  <thead>
		    <tr>
		      <th width="200">Option</th>
		      <th>Description</th>
		      <th width="150">Prix</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Pack Ski/Snow Sport Republic</td>
		      <td>Un pack d'équipement standard (skis/snow, chaussures, bâtons, casque)</td>
		      <td><em>Inclu dans le prix (*)</em></td>
		    </tr>
		    <tr>
		      <td>Pack Ski/Snow Performance Republic</td>
		      <td>Un pack d'équipement de qualité supérieure (skis, chaussures, bâtons, casque)</td>
		      <td>+ 20€</td>
		    </tr>
		    <tr>
		      <td>Ski/Snowboard Sport</td>
		      <td>Si tu as déjà tes chaussures et autres accessoires</td>
		      <td>- 10€</td>
		    </tr>
		    <tr>
		      <td>Ski/Snowboard Performance</td>
		      <td>Si tu as déjà tes chaussures et autres accessoires</td>
		      <td>+ 10€</td>
		    </tr>
		    <tr>
		      <td>J'ai tout mon équipement</td>
		      <td>Tu vas faire des économies !</td>
		      <td>- 60€</td>
		    </tr>
		  </tbody>
		</table>
		<p><em>(*) Tu as le choix entre les skis ou le snowboard.</em></p>

		<p class="lead">Assurances</p>
		<table>
		  <thead>
		    <tr>
		      <th width="200">Option</th>
		      <th>Description</th>
		      <th width="150">Prix</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Assurance vol & casse matériel de ski Ski Republic</td>
		      <td>Souscrite auprès du magasin faisant le prêt de l'équipement.</td>
		      <td>+ 12€</td>
		    </tr>
		    <tr>
		      <td>Assurance neige</td>
		      <td><a href="">Télécharger les conditions</a></td>
		      <td>+ 17€</td>
		    </tr>
		    <tr>
		      <td>Assurance voyage <a href="http://www.mondial-assistance.fr">Mondial Assistance</a></td>
		      <td><a href="">Télécharger les conditions</a></td>
		      <td>+ 11€</td>
		    </tr>
		    <tr>
		      <td>Assurance tout compris : multirisque montagne <a href="http://www.mondial-assistance.fr">Mondial Assistance</a></td>
		      <td><a href="">Télécharger les conditions</a></td>
		      <td>+ 20€</td>
		    </tr>
		  </tbody>
		</table>

		<p class="lead">Compléments</p>
		<table>
		  <thead>
		    <tr>
		      <th width="200">Option</th>
		      <th>Description</th>
		      <th width="150">Prix</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Espace Killy</td>
		      <td>Profites d'un espace skiable de plus de 300 km. Accès illimité à la piscine du Lagon et à la patinoire (patins à glace offerts) en plus. <a href="http://www.espacekilly.com">En savoir plus</a></td>
		      <td>+ 39€</td>
		    </tr>
		    <tr>
		      <td>Pack Nourriture</td>
		      <td><span class="label alert">Attention</span> Ce pack est pour 2 personnes ! <a href="">Télécharger le détail du pack (PDF)</a>.</td>
		      <td>+ 50€</td>
		    </tr>
		  </tbody>
		</table>
		<a class="close-reveal-modal">&#215;</a>
	</div>
{% endblock %}
