{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
	<div class="large-9 large-centered columns">
		<div class="panel">
			<ul class="breadcrumbs">
				<li><a href="{{ path('r_heaven_ski_homepage') }}">&lt; Retourner à la fiche</a></li>
			</ul>
   			<h2>Choix du paiement</h2>

			<form {{ form_enctype(form) }} method="POST">
				<div class="row">
				<div class="large-12 columns">
				{{ form_label(form.modalites, "Modalités") }}
				{{ form_errors(form.modalites) }}
				{{ form_widget(form.modalites) }}
				{{ form_widget(form.modalites) }}
				</div>
				</div>

				<div class="row">
				<div class="large-12 columns">
				{{ form_label(form.mode, "Mode de paiement") }}
				{{ form_errors(form.mode) }}
				{{ form_widget(form.mode) }}
				{{ form_widget(form.mode) }}
				</div>
				</div>

				{{ form_rest(form) }}
				
				<input type="submit" value="Enregistrer" class="button" />
			</form>

			<div data-alert class="alert-box info radius">
				<span class="info radius label">Info</span> La paiement en deux fois ne peut se faire que par chèque.
			</div>
		</div>
	</div>
</div>

{% endblock %}
