<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/modernizr.js') }}"></script>
    <title>{% block title %}R-Heaven - Voyage au ski 2014{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    {% if app.user %}
    <div class="fixed">
        <nav class="top-bar" data-topbar data-options="is_hover: false">
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    {% if is_granted("ROLE_USER") %}
                    <li>
                        <a href="{{ path('r_heaven_ski_homepage') }}">
                        Dossier :  
                        {% if app.user.statut == 'Refusé' %}
                        <span class="label radius alert">
                        {% elseif app.user.statut == 'Validé' %}
                        <span class="label radius success">
                        {% elseif app.user.statut == 'En attente' %}
                        <span class="label radius">
                        {% else %} 
                        <span class="label radius secondary">
                        {% endif %}
                        {{ app.user.statut }}</span></a>
                    </li>
                    <li class="divider"></li>
                    {% endif %}
                    <li class="has-form">
                        <a href="{{ path('fos_user_security_logout') }}" class="button radius alert">Se déconnecter</a>
                    </li>
                    
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="{{ path('r_heaven_ski_index') }}">Compte : <span class="label radius">{{ app.user.email }}</span></a></li>
                    <li class="divider"></li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="divider"></li>
                    <li class="has-form"><a href="{{ path('r_heaven_ski_admin') }}" class="button radius alert">Gestion des inscriptions</a></li>
                    {% endif %}
                </ul>
            </section>
        </nav>
    </div>
    {% endif %}

    <header class="row">
        <a href=""><img src="{{ asset('img/header-ski.png') }}" alt="R-Heaven - Voyage au ski" /></a>
    </header>

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <div class="row">
        <div class="large-12 collums">
        <p class="text-center">
            <em>&copy; 2014 R-Heaven BDE Efrei - Tous droits réservés</em><br />
            <small>Development by Alexandre Wizel (P2015) / Design by <a href="http://www.ludovicmuncherji.fr/">Ludovic Muncherji</a> (P2015)</small>
        </p>
        <p class="text-center">
            <a href="http://www.efrei.fr/"><img src="{{ asset('img/efrei.png') }}" alt="Efrei" /></a>
        </p>
        </div>
    </div>

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/foundation.min.js') }}"></script>
    <script>$(document).foundation();</script>
</body>
</html>
